<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>

<body>
    <div class="container">
        <h1>PDV Hermes</h1>
        <form id="login_form" name="login_form" class="form">
            <label for="email">Email</label>
            <input class="input" type="text" id="email" name="email">
            <label for="password">Senha</label>
            <input class="input" type="password" id="password" name="password">
        </form>
        <div class="btn_div">
            <a class="btn gray" href="../">Voltar</a>
            <a class="btn">Login</a>
        </div>
    </div>
</body>

</html>